<main>
    <h3 class="heading">Recently added</h3>
    <section class="books">
    <% books.forEach(book => { %>
        <div>
            <a href="/books/<%= book.id %>">
                <img height="150" width="100" src="<%= book.coverImagePath %>" class="book__img">
                <p><%= book.title %> </p>
            </a>
        </div>
    <% }) %> 
    </section>
</main> 