<main>
    <h3 class="heading">Edit Author</h3>
    <form action="/authors/<%= author.id %>?_method=PUT" method="POST">
        <%- include('_form_fields') %>
        <div class="input-form__buttons">
            <a href="/authors/<%= author.id %>" class="btn authors__btn">Cancel</a>
            <button type="submit" class="btn submit-btn">Update</button>
        </div> 
    </form>
</main>