<main>
    <h3 class="heading">New Author</h3>
    <form action="/authors" method="POST" class="input-form">
        <%- include('_form_fields') %>
        <div class="input-form__buttons">
            <a href="/authors" class="btn authors__btn">Cancel</a>
            <button type="submit" class="btn submit-btn">Create</button>
        </div>
    </form>
</main>